<div id="top-header">

  <div id="logo">
      <a href="/"><img src="/images/pokeball.webp"/></a>
  </div>

  <nav>
      <div id="menu">
          <ul>
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">Search</a></li>
              <li><a href="#">Search Timeline</a></li>
              <li><a href="#">Profiles</a></li>
          </ul>
      </div>
  </nav>
</div>