<% if(typeof errors != 'undefined') { %>
  <% errors.forEach(function(error) { %>
    <span style="color:red;">
    <%= error.msg %>
    </span>
  <% }); %> 
<% } %>

<% if (success_msg != '') { %>
  <span style="color:green;">
    <%= success_msg %>
  </span>
<% } %>

<% if (error_msg != '') { %>
  <span style="color:red;">
    <%= error_msg %>
  </span>
<% } %>

<% if (error != '') { %>
  <span style="color:red;">
    <%= error %>
  </span>
<% } %>