<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
    <%- include('../partials/loadPokemon'); %>
</head>

<body>

  <header>
    <%- include('../partials/header'); %>
  </header>

  <main>
    <div id='text'>
      <p>Welcome to the Pokemon shop! This is built using the open source RESTful API created by
          pokemon
          lovers wolrdwide. Feel free to search, filter and purchase the pokemon cards you like! </p>
    </div>

    <div id="container">

    </div>
  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>