<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
    <%- include('../partials/loadPokemon'); %>
</head>

<body>

  <header>
    <%- include('../partials/header'); %>
  </header>


  <main>
    <div id='text'>
      <p>Welcome to the Pokemon shop! This is built using the open source RESTful API created by pokemon
        lovers wolrdwide. Feel free to search, filter and purchase the pokemon cards you like! </p>
    </div>
    <div class="container">

      <div class="row mt-5">

        <div class="col">
          <div class="jumbotron jumbotron-fluid mt-3" style="min-width: 18rem; margin-bottom: 0;">
            <div class="container">
              <h1 class="my-2 mx-4">Pokeshop</h1>
              <p class="lead mx-4 mt-4">Gather your favorite Pokemon Cards</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="jumbotron pt-3 mt-3" style="min-width: 18rem;">
            <form action="/auth/login" method="post">
              <div>
                <div class="form-floating my-3">
                  <input type="text" class="form-control" id="username" name="username" placeholder="username" required>
                  <label for="username">Username</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="password" class="form-control" id="password" name="password" placeholder="password"
                    required>
                  <label for="password">Password</label>
                </div>
                <button type="submit" style="background-color: #350661;" class="btn btn-primary">Login</button>
                <a href="/auth/register" class="btn btn-outline-primary" role="button">Register</a>
            </form>
            <span id="error-message">

            </span>
          </div>

        </div>
      </div>
    </div>

    <div id="container">

    </div>
  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>